:root {
    --main-color: #DCDCDC;
    --alt-main-color: #FFFAFA;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: var(--alt-main-color);
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: var(--main-color);
}

#logo {
    width: 9em;
    height: 3.5em;
}

#nav--links {
    margin: .5em;
}

.navItem {
    justify-content: space-evenly;
    padding: 6px;
    font-size: 22px;
    color: black;
}

.navItem:hover {
    font-weight: bold;
}


/* This is hidden currently so I can design the rest of the the nav bar. */

#nav--socialMedia {
    flex-direction: column;
}

#mawacInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    margin-left: 6em;
}

#mawacText {
    width: 76.5%;
}

#slideShow {
    margin-top: 1em;
    margin-left: 1em;
    width: 83.5%;
    height: 150px;
}

#rowOne {
    display: flex;
}

#quickLinks {
    display: flex;
    flex-direction: column;
}

.rowTwo {
    display: flex;
    flex-direction: row;
}